.page-header {
  border-bottom: 1px solid #ececec;
  
  &__flex{
    display: flex;
    align-items: center;
  }
    
 //navigation
  &__nav-list  {
    display: flex;
  }
  
  &__nav-item:not(:last-child) {
    margin-right: 50px;
  }

  &__nav-link--current{
    position: relative;
  }
  
  &__nav-link--current::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $acent;
  }
  
  &__nav-link{
    position: relative;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $tc-black;
    @include transit(color);
  }
  
  &__nav-link:hover,
  &__nav-link:focus {
    color: $acent;
  }
  
  &__nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $acent;
    transform: scaleX(0);
    @include transit(transform);
  }
  
  &__nav-link--current::after,
  &__nav-link:hover::after,
  &__nav-link:focus::after {
    transform: scaleX(1);
  }
  
//contacts
  
  &__contact {
    display: flex;
    margin-left: auto;
  }
  
  &__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    color: $tc-main;
    fill: $tc-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @include transit(color, fill);
  }
  
  &__link:not(:last-child) {
    margin-right: 50px;
  }
  
  &__logo{
    margin-right: 10px;
  }
  
  &__link:focus,
  &__link:hover {
    color: $acent;
    fill: $acent;
  }
}
 