.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    min-height: 100vh;
    z-index: 20;

    background-color: white;
  
    &.is-open {
      display: block;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 48px 40px;
      min-height: 100vh;
    }
  }
  
  .is-open .btn-menu-open {
    display: none;
  }
  
  .btn-menu-close {
    display: none;
  
    .is-open & {
      display: block;
    }
  }

  .mobile-menu .page-header__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .mobile-menu .page-header__nav-link {
    font-size: 40px;
  }
  
  .mobile-menu .page-header__contact {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 64px;
  }
  
  .mobile-menu .page-header__link {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  
  .mobile-menu .page-header__link:last-child {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $acent;
    margin-bottom: 32px;
  }
  
  .social {
    display: flex;
    color: $acent;
    margin-top: 64px;
  
    &__item:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  
    &__item:first-child .link {
      padding-left: 0;  
    }
  
    &__link {
      display: block;
      padding: 0 10px ;
      font-size: 18px;
    }
  }
  