.project{
    margin-bottom: -30px;
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -15px;
    }
    
    &__list{
        align-items: center;
        margin-bottom: 30px;
        border: 1px solid $project-list-border;
        @media screen and (min-width:$tablet) {
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;   
        }
        @media screen and (min-width:$descktop) {
            width: calc((100% - 6* 15px)/3);
            
        }
    }
}
  
 