$bgc-hero: #c4c4c4;
$bgc-footer: #2f303a;
$bgc-main: #ffffff;
$bgc-second: #f5f4fa;
$bgc-backdrop:rgba(0, 0, 0, 0.2);
$acent: #188ce8;
$modal-placeholder: rgba(117, 117, 117, 0.5);
$tc-main: #757575;
$tc-white: #ffffff;
$tc-black: #212121;
$footer: rgba(255, 255, 255, 0.6);
$bgc-footer-link: rgba(255, 255, 255, 0.1);
$logo: #afb1b8;
$logo-invers: #ffffff;
$project-list-border:#eeeeee;
$modal-input-border:rgba(33, 33, 33, 0.2);
$modal-close-button-border: rgba(0, 0, 0, 0.1);
$project-card-action: rgba(33, 150, 243, 0.9);
$job-img-title:rgba(47, 48, 58, 0.8);
$main-font-family: 'Roboto' , sans-serif;
$logo-font-family: 'Raleway' , sans-serif;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duretion: 250ms;